.container-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.navbar{
    align-items: center;
    height: 80px;
    width: 80%;
    list-style: none;
    display: flex;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #8C52FF;
    justify-content: flex-end;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
    
}
.navbar li{
    margin-right:20px;
    cursor: pointer;
}
.container-logo{
    background-color: #8C52FF;
    display: flex;
    height: 80px;
    width: 18%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    justify-content: center;
}
.input-busqueda{
    margin-right: auto;
    margin-left: 20px;
}
.input-busqueda input{
    border-radius: 6px;
    border: none;
    background-color: #b08ff3;
    color: white;
    padding-left: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 120px;
}
.input-busqueda input::placeholder{
    color: lightgray;
}

.select{
    color: black;
}

.not-select{
    color: white;
}