
.p-counter{
    font-weight: 600;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: auto;
    color: #8C52FF;
    font-size: 18px;
}
.contador-cantidad p span{
    color: black;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 18px
}
.counter{
    display: flex;
    align-items: center;
    width: 180px;
    height: 40px;
    justify-content: center;
    border: 2px solid #8C52FF;
    border-radius: 20px;
    background-color: white;
}
.button-resta{
    color: black;
    font-weight: 800;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: #ae96df;
    cursor: pointer;
    margin-right: 5px!important;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.button-counter{
    color: black;
    font-weight: 800;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: #ae96df;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.container-input{
    display: flex;
}

.prod-cart .contador-cantidad{
    margin:0;
    margin-left: 60px;
}
.prod-cart .contador-cantidad p{
    margin:0;
    color: #8C52FF;
    font-weight: 400;
}

.prod-cart .counter{
    width: 240px;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.prod-cart .counter span{
    font-size: 24px;
}

.prod-cart .counter button{
    margin: 0;
    padding: 2px;
    background-color:  #ae96df;
    color: black;
    border-radius: 8px;
    margin-top: 2px;
}

