.contador-cantidad{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contador-cantidad p{
    font-size: 20px;
    font-weight: 600;
}
.contador-cantidad p span{
    color: #8C52FF;
    margin-right: 10px;
}
.counter{
    margin-top: 100px;
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    justify-content: center;
    border: 2px solid #8C52FF;
    border-radius: 20px;
}
.button-resta{
    color: black;
    font-weight: 800;
    width: 26px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #ae96df;
    cursor: pointer;
    margin: 0;
    margin-right: 5px;

}
.button-counter{
    color: black;
    font-weight: 800;
    width: 26px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #ae96df;
    cursor: pointer;
    margin: 0;
}
.container-input{
    display: flex;
}